@model countrie.Models.Countries

<div class="row" id="countries">
    @foreach (var country in Model.countries)
    {
<div class="col-md-3 p-3">
    <div class="container white" name="elements">
        @*<img src="@country.flags.png" alt="Flag of @country.name.common" class="img-fluid rounded" id="@country.name.common Img" onclick="openModal('@country.name.common')">*@
        <img src="@country.flags.png" alt="Flag of @country.name.common" class="img-fluid rounded" id="@country.name.common Img" onclick="changePage()">
        <div class="container">

            <p><h4><b>@country.name.common</b></h4></p>
            <p>Population: @country.population</p>
            <p>Region: @country.region</p>
            @if (country.capital != null)
            {
            <p>Capital: @country.capital[0]</p>}
        </div>
    </div>

    @*<div id="@country.name.common" class="modal">
        <div class="modal-content">
            <p>Name: @country.name.common</p>
            <p>Capital: @country.capital</p>
            <table class="table table-bordered">
                <thead>
                    <tr><th> Official Currencies: </th></tr>
                </thead>
                <tbody>
                    @if (country.borders != null)
                    {
    @foreach (var currency in country.borders)
    {
<tr><td>@currency</td></tr>
}}
                </tbody>

            </table>
            <p>Population: @country.population</p>
            <p>ISO code: @country.population</p>
            <table class="table table-bordered">
                <thead>
                    <tr><th> Official Languages: </th></tr>
                </thead>
                <tbody>
                    @if (country.languages != null)
                    {
    @foreach (var language in country.languages)
    {
<tr><td>@language.Value</td></tr>
}}
                </tbody>
            </table>
        </div>
    </div>*@
</div>
    }
</div>
